*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;

  background-color: #1F2124;

  color: white;

  font-family: 'M PLUS Rounded 1c', sans-serif;
}